
/* Container for the loader */
.loader-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    align-items: center;
    background: rgba(133, 133, 133, 0.616); 
    z-index: 1000; 
}

/* Expanding Circle Animation */
.spinner {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: green;
    animation: expand 1.5s infinite ease-in-out;
}

@keyframes expand {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(5);
        background: rgba(0, 128, 0, 0.295);
    }
}